MouseInfo==0.1.3
Pillow==8.1.1
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMouse==1.0
PyMsgBox==1.0.9
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
PyUserInput==0.1.11
listener==2.0.0a1
logging==0.4.9.6
pynput==1.7.3
pyobjc==7.1
pyperclip==1.8.2
email==6.0.0a1
pyobjc==7.1	
pyobjc-core==7.1	
pyobjc-framework-AVFoundation==7.1	
pyperclip==1.8.2	
rubicon-objc==0.4.0	
setuptools==53.1.0	
six==1.15.0
